* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


nav {
    color: white;
}

.nav {
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    display: flex;
    padding: 5px 2px;
    margin: 2px 2px 0;
    background-color: rgba(0, 99, 193, 1);
    color: white;
    list-style: none;
    margin-bottom: 0;
    box-shadow: 2px 2px 2px;
    width: 100%;
    border-top-color: rgb(0, 0, 0);
}

.nav h1 {
    padding: 50px;
    margin: 2px 2px 2px 0 ;
}
#lang {
    padding: 5px ;
    margin: 0 10px;
}

ul {
    color: white;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    color: white;

}


a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a:hover {
    color: goldenrod;
    transition: 0.5s;

}


nav ul li {
    list-style-type: none;
}


.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: blue;
    transition: 0.5s;

 }



button {
    gap: 10vw;
    

}

button:hover {
    color: black;
    transition: 0.5s;
}

#btn1 {
    padding: 0px 1px 1px 1px;
    border-radius: 15px;
    line-height: 2;
    font-size: 15px;
    width: 15vw;
    background-color: transparent;
    color: white;
    gap: 2vw;
    border-color: white;
    border-bottom-color: white;
    transition: 0.5s;
}

#btn1:hover {
    color: blue;
    transition: 0.5s;
}

#btn2 {
    padding: 0px 1px 1px 1px;
    border-radius: 15px;
    box-shadow: 2px 1px 1px rgb(0, 103, 199);
    line-height: 2;
    font-size: 15px;
    width: 10vw;
    background-color: transparent;
    color: white;
    border-color: white;
    border-bottom-color: white;

}

#btn2:hover {
    color: blue;
    transition: 0.5s;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 99, 193, 1);
    height: 75vh;
    width: 98vw;
    padding: 10px;
}
    
.btn {
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 20px;
    width: 20vw;
    height: 8vh;
    background-color: rgb(216, 83, 35)
    

    
}
    

.hero-image {
    height: 70vh;
    padding: 20px;
}

.hero {
    color: white;
    padding: 50px;
    margin-left: 10px;
}